@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* ######################################### NAVBAR ######################################### */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

nav {
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgb(93, 52, 31) 0px 1px 3px -1px;
    z-index: 20;
    position: relative;
}
nav .logo {
    display: flex;
    align-items: center;
}
nav .logo img {
    height: 9vh;
    width: auto;
    margin-right: 10px;
}
nav .logo h1 {
    font-size: 1.1rem;
    background: linear-gradient(to right, #5d341f 0%, #936c57 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin-left: 1.5rem;
}
nav ul li a {
    text-decoration: none;
    color: #5d341f;
    font-size: 95%;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #f5f5f5;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 1px;
    background-color: #5d341f;
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
}
.hamburger-active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
    width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
    transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
    transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
    transform: translateY(-5px) rotate(90deg);
}

.menubar {
    position: absolute;
    top: 0;
    left: -60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 100vh;
    padding: 20% 0;
    background: rgba(255, 255, 255);
    transition: all 0.5s ease-in;
    z-index: 20;
}
.active {
    left: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
    padding: 0;
    list-style: none;
}
.menubar ul li {
    margin-bottom: 32px;
}

.menubar ul li a {
    text-decoration: none;
    color: #5d341f;
    font-size: 95%;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
}

.menubar ul li a:hover {
    background-color: #f5f5f5;
}

/* ######################################### A PROPOS DE MOI ######################################### */

.presentation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    flex-direction: row;
}

.presentation-container{
    padding: 4vh;
    padding-bottom: 5vh;
    background-color: #5d341f;
    color: #fff;
    position: relative;
    z-index: 2;
}

.presentation{
    background: #5d341f;
    color: white;
}

.presentation-container .title {
    padding: 5% 0 2% 7%;
    font-size: 300%;
    background-color: #5d341f;
    color: white;
}

span {
    color: #b99f92;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 35%;
    max-width: 98%;
}

.text p {
    font-size: 125%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: justify;
}

.anim-typewriter-propos {
    animation: typewriter-propos 3s steps(44) 2s 1 normal both,
    blinkTextCursor-propos 500ms steps(44) infinite normal;
}

.anim-typewriter-education {
    animation: typewriter-education 3s steps(44) 2s 1 normal both,
    blinkTextCursor-education 500ms steps(44) infinite normal;
}

@keyframes typewriter-propos {
    from { width: 0; }
    to { width: 12.5em; }
}

@keyframes blinkTextCursor-propos {
    from { border-right-color: rgb(93, 52, 31); }
    to { border-right-color: transparent; }
}

@keyframes typewriter-education {
    from { width: 0; }
    to { width: 12.5em; }
}

@keyframes blinkTextCursor-education {
    from { border-right-color: rgb(93, 52, 31); }
    to { border-right-color: transparent; }
}

.photo, .photo-emoji-hands-joined {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 45%;
    max-width: 90%;
}

.photo .hello-emoji, .photo-emoji-hands-joined .hands-joined-emoji {
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    z-index: 4;
}

.photo .hello-emoji:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #936c57;
    transition: ease-in-out 0.3s;
}

.bottom-svg{
    display: block;
    width: 100%;
    transform: scaleY(-1);
    margin: 0;
    padding: 0;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 3;
}

.content {
    position: relative;
    z-index: 2;
}

/* ######################################### EDUCATION ######################################### */
/* ######################################### EXPERIENCE ######################################### */

.container {
    width: 100%;
    padding: 35px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.container {
    padding-right: calc(10% + 30px);
}

.education-title {
    padding: 0 0 2% 0;
    font-size: 300%;
    color: #5d341f;
    text-align: center;
}

main.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    justify-content: center;
    align-items: start;
    max-width: 1200px;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col .title {
    color: #5d341f;
    padding: 0 0 20px 0;
    text-align: center;
}

.col .contents {
    padding: 0 10px;
    border-left: 2px solid #b99f92;
}

.col .contents .box {
    position: relative;
    padding: 20px;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    width: 100%;
    box-sizing: border-box;
}

.col .contents .box:hover {
    box-shadow: 0 3px 12px 0 #cbcbcb;
}

.col .contents .box::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 0;
    right: calc(100% + 2px);
    background-color: #5d341f;
    border: 2px solid #e2d2ca;
}

.box h4 {
    position: relative;
    color: #b08677;
}

.box h3 {
    font-size: 19px;
    padding: 10px 0px 6px;
    color: #5d341f;
}

.box p {
    line-height: 1.2;
    font-size: 17px;
    color: #5d341f;
}


/* ######################################### SKILLS ######################################### */

.skills-svg{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #5d341f;
    color: white;
    z-index: 3;
}

.skill-section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2vh 0;
    z-index: 2;

}

.skill-section.to-reverse{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 2vh 0;
    flex-wrap: wrap-reverse;
    z-index: 3;
}

.skill-section img{
    width: 50vh;
    height: 50vh;
    align-items: center;
    border-radius: 50%;
    z-index: 3;
}

.skills-title{
    font-size: 300%;
    color: white;
    text-align: center;
    background-color: #5d341f;
    padding-bottom: 2.5%;
}

.card-container{
    padding: 2vh;
    border: 1px solid #b08677;
    border-radius: 15px;
    width: 50%;
    margin: 2vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.card-container h2{
    margin-bottom: 2vh;
}

.card-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.card-container ul li{
    background-color: #b08677;
    width: 40%;
    padding: 1vh;
    margin: 0.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card-container ul li:hover{
    transition: all 0.5s;
    background-color: #936c57;
}

.card-container svg{
    padding: 1vh ;
    width: 6vh;
    height: 6vh;
}

#particles-skills-js{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 1;
}

.skills-content{
    position: relative;
    z-index: 2;

}

/* ######################################### PROJETS ######################################### */

.projects-title {
    padding: 0 0 2% 0;
    font-size: 300%;
    color: #5d341f;
    text-align: center;
}

.container__project {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    margin: auto;
}

.card__container {
    overflow: hidden;
    width: 100%;
}

.card__content {
    display: flex;
    transition: transform 0.5s ease;
    width: fit-content;
    padding: 2rem 0 2rem 0;
}

.card__article {
    flex: 0 0 300px;
    margin: 0 1rem 0 0;
    border-radius: 1.25rem;
    overflow: hidden;
    background-color: #b08677;
    text-align: center;
    padding-bottom: 1.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    justify-content: center;
}

.card__image {
    height: 200px;
    position: relative;
    background-color: #5d341f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card__img {
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__name, .card__description {
    color: #fff;
}

.card__button {
    display: inline-block;
    padding: .75rem 1.5rem;
    background-color: #fff;
    color: #5d341f;
    border-radius: .25rem;
    text-decoration: none;
    font-weight: 600;
    margin-top: 1rem;
}

.carousel__button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.carousel__button--left {
    left: -2rem;
    color: #5d341f;
}

.carousel__button--right {
    right: -2rem;
    color: #5d341f;
}

/* ######################################### CENTRES D'INTÊRET ######################################### */


/* ######################################### FOOTER ######################################### */

.footer {
    position: relative;
    width: 100%;
    background: #5d341f;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20vh;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    flex-direction: row;
}

.links ul li {
    transition: all 0.3s ease;
}

.links ul li:hover {
    transform: scale(1.1);
}

.links svg {
    width: 5vh;
    height: auto;
    margin-right: 1vh;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #5d341f;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 70%;
    font-size: 18px;

}

#back-to-top:hover {
    background-color: #936c57;
}

#year{
    color: #fff;
}

/* ######################################### MEDIA QUERIES ######################################### */
@media screen and (max-width: 790px) {
    .hamburger {
        display: block;
    }
    nav ul {
        display: none;
    }

    .card-container {
        width: 100%;
        margin: 1vh 0;
    }

    .card-container ul li {
        padding: 1vh;
    }

    .card-container img {
        width: 5vh;
        height: 5vh;
    }

    .skill-section img {
        width: 20vh;
        height: 20vh;
    }

    .container {
        padding-right: calc(10% + 5px);
    }
}

@media screen and (max-width: 850px) {
    .presentation{
        flex-wrap: wrap;
    }

    .photo .hello-emoji{
        max-width: 80%;
    }

    .presentation{
        padding-bottom: 1vh;
    }

    main.row{
        grid-template-columns: 1fr;
    }

    .row .col:nth-child(2){
        margin-top: 30px;
    }

    .presentation-container .title, .skills-title,.projects-title {
        font-size: 200%;
        text-align: center;
        padding: 0;
        padding-top: 2vh;
    }

    .education-title{
        font-size: 200%;
        text-align: center;
        padding: 0;
        padding-top: 0;
    }

    .text{
        width: 95%;
    }
    .text p{
        font-size: 90%;
    }

    .presentation-container{
        padding: 0.5vh;
    }

    .skill-section, .skill-section.to-reverse{
        padding-left: 1vh;
        padding-right: 1vh;
    }
}
